
#title{
    color:black;
}
#refre{
    color:black;
    text-decoration: none;
    
}
#refre:hover{
    color:blue;
   

}
#tab{
    color:black;
    text-decoration: none;
    
}
#tab:hover{
    color:blue;
   

}
#ind{
    color:black;
    text-decoration: none;
    
}
#ind:hover{
    color:blue;
   

}