{% extends 'appTwo/base.html' %}
{% block body_block %}
<div class="jumbotron">
    <h1>Enter Details</h1>
    <form action="#" method="POST">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Enter username"/>
        <label for="password">password: </label>
        <input type="password" name="password" placeholder="Enter the password"/>
        <input type="submit" value="Login"/>
        
    </form>
</div>
{% endblock %}